/*Reset css*/
**, *:after,*:before {
  margin: 0;    
  padding: 0;    
  box-sizing: border-box;    
  text-decoration: none;
}

body {    
  font-size: 100%;    
  list-style-type: none;
  align-items: center;
}

ol, ul {
  list-style: none;
}

/*reset do css*/

h1 {
  color: blue;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  color: blue;
}

